<h1>Hi <%= "#{@user.name}!" %></h1>

<% if @events == nil || @events == [] %>
    <h2>You do not currently have any defined Events </h2> 
    <br>
   
<% else %>
    <h2>Your Upcoming Events: </h2>
    <% @events.each do |event| %>   
        <h3><%= "#{event.name}  #{event.date}" %></h3>
    <% end %>
    <br>
    <form method='get' action='/events/preedit'>
    <input type="submit" value="Modify an existing Event">
    </form>
<% end %>
<br>
<form method='get' action='/events/new2'>
<input type="submit" value="Create a New Event">
</form> 
<br>
<br>

<h4><a href="/logout">Log Out</a> and return to the home screen:</h4>
  
</form>
