<h1>Hi <%= "#{@user.name}!" %></h1>

<form action="/events" method="POST">
<% if @events == nil || @events == [] %>
    <h2>You do not currently have any defined Events </h2> 
<% else %>
    <h2>Your Upcoming Events: </h2>
    <% @events.each do |event| %>
        <h3><%= "#{event.name}  #{event.date}" %></h3>
    <% end %>
<% end %>
<br>
<h2>What would you like to do? Create a New Event or Modify an existing Event?</h2>
<br>
<form method='get' action='/events/new2'>
    <input type="submit" value="Create a New Event">
</form>
<br>
<form method='get' action='/events/preedit'>
    <input type="submit" value="Modify an existing Event">
</form>
  
</form>
