
<form action="/events" method="POST">
<h2>Enter a Name and Date for your New Event</h2>
<br>
<input type="text" name=@new_event_name placeholder="Name of New  Event">
<input type="text" name=@new_event_date placeholder="Date of New  Event">
<br>
<br>
<input type="submit" value="Create New Event" id="<%= @new_event_deets %>" value="<%= @new_event_deets %>">
<br>
<br>
</form>

<h4><a href="/events/new">Go Back to Previous Screen</a></h4>